body {
    font-family: Arial;
    text-align: left;
    background: #f4f4f4;
}

input, button {
    padding: 10px;
    margin: 5px;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}